body {
    background-color: rgb(253, 251, 251);
}

img {
    width: 200px;
    height: ;
}

#cabecalho {
    top: 0px;
}

#titulo {

}

#minha-foto {

}

#licoes-aprendidas {

}

#licoes-a-aprender {

}

#rodape {

}